.App {
  text-align: center;
}

.rich-purple,
.rich-purple .card {
  border-color: #503291 !important;
}

.rich-purple .card-header {
  background-color: #503291 !important;
  color: white;
}

.rich-purple h3 {
  color: #503291;
}

/*
floating print button styling start
*/

.print-button {
  height: 50px;
  width: 50px;

  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 100;
}

.print-button img {
  clear: both;
}

@media print {
  .print-button {
    visibility: hidden;
  }
}
